<style>
  iconkey {
    font-size: 50px;
    font-weight: bold;
  }
  .loginform{
    margin-top: 100px;
  }

</style>

<div class="col-md-12 loginform">


  <div class="col-md-4 card col-md-offset-4 " >
    <div class="card-body" >
      <form [formGroup]="forma" (ngSubmit)="SendEmail()">
        <h2>Recuperación de contraseña </h2>
        <p class="text-muted">Ingresa tu correo electrónico para poder proceder a reestablecer tu contraseña</p>


        <div class="form-group row" [ngClass]="{'has-error':!forma.controls['Email'].valid && forma.controls['Email'].touched }">
          <label class="col-12 col-form-label">Ingresa tu correo electronico</label>
          <div class="col-md-12">
            <input class="form-control" type="text" placeholder="correo@correo.com" formControlName="Email">
            <div class="text-help text-danger" *ngIf="forma.get('Email').errors?.required && forma.controls['Email'].touched">
              El correo es necesario
            </div>
            <div class="text-help text-danger" *ngIf="forma.get('Email').errors?.pattern && forma.controls['Email'].touched">
              El correo es inválido
            </div>
          </div>
        </div>
        <div class="form-group row">
          <button type="button" class="btn btn-danger btn-block" type="submit">Enviar correo</button>
        </div>
      </form>


    </div>

  </div>
  <div class="col-md-3"></div>

</div>
