<form [formGroup]="forma" (ngSubmit)="SendEmail()">
  <div class="row">
    <div class="col align-self-center col-md-6">
      <p>Recuperación de contraseña Ingresa tu correo electrónico para poder proceder a reestablecer tu contraseña</p>
      <div class="form-group row" [ngClass]="{'has-danger':!forma.controls['Email'].valid && forma.controls['Email'].touched }">
        <label class="col-2 col-form-label">Ingresa tu correo electronico</label>
        <div class="col-md-8">
          <input class="form-control" type="text" placeholder="correo@correo.com" formControlName="Email">
         <div class="form-control-feedback" *ngIf="forma.get('Email').errors?.required && forma.controls['Email'].touched">
            El correo es necesario
          </div>
          <div class="form-control-feedback" *ngIf="forma.get('Email').errors?.pattern && forma.controls['Email'].touched">
            El correo es inválido
          </div>
        </div>
      </div>
      <div class="form-group row">
        <button type="button" class="btn btn-danger btn-block" type="submit">Enviar correo</button>
      </div>

    </div>
    <form>
