<div class="row">
  <form [formGroup]="forma" (ngSubmit)="reset()">
    <h1>Opcion de recuperación de contraseña</h1>

    bienvenido a recuperación de contraseña para continuar ingresa la nueva contraseña

    <div class="form-group row" [ngClass]="{'has-danger':!forma.controls['Password1'].valid && forma.controls['Password1'].touched}">
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col-8">

        <input class="form-control" type="password" placeholder="Ingresa tu contraseña" formControlName="Password1">
        <div class="form-control-feedback" *ngIf="forma.get('Password1').errors?.required && forma.controls['Password1'].touched">
          La contraseña es necesaria
        </div>
        <div class="form-control-feedback" *ngIf="forma.get('Password1').errors?.minlength && forma.controls['Password1'].touched">
          El nombre debe contener por lo menos 8 caracteres (Asegurate de colocar una contraseña alfanumerica)
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger':!forma.controls['Password2'].valid && forma.controls['Password2'].touched}">
      <label class="col-2 col-form-label">Confirma Contraseña </label>
      <div class="col-8">
        <input class="form-control" type="password" placeholder="Ingresa tu contraseña" formControlName="Password2">
        <div class="form-control-feedback" *ngIf="forma.get('Password2').errors?.required && forma.controls['Password2'].touched">
          La contraseña es necesaria
        </div>
        <div class="form-control-feedback" *ngIf="forma.get('Password2').errors?.noIguales && forma.controls['Password2'].touched">
          La contraseñas tienen que ser iguales
        </div>
      </div>
    </div>

  </form>
</div>
