<div class="col-md-6 col-md-offset-3 card form-reset">
  <div class="card-body">
    <form [formGroup]="forma" (ngSubmit)="reset()">
      <h2 class="text-center">Opción de reestablecimiento de contraseña</h2>
      <h4 class="text-center">{{email}}</h4>
      <p> Bienvenido a recuperación de contraseña para continuar ingresa la nueva contraseña</p>


      <div class="form-group row" [ngClass]="{'has-error':!forma.controls['Password1'].valid && forma.controls['Password1'].touched}">
        <label class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-8">

          <input class="form-control" type="password" placeholder="Ingresa tu contraseña" formControlName="Password1">
          <div class="text-help text-danger" *ngIf="forma.get('Password1').errors?.required && forma.controls['Password1'].touched">
            La contraseña es necesaria
          </div>
          <div class="text-help text-danger" *ngIf="forma.get('Password1').errors?.minlength && forma.controls['Password1'].touched">
            El nombre debe contener por lo menos 8 caracteres (Asegurate de colocar una contraseña alfanumerica)
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error':!forma.controls['Password2'].valid && forma.controls['Password2'].touched}">
        <label class="col-sm-2 control-label">Confirma Contraseña </label>
        <div class="col-md-8">
          <input class="form-control" type="password" placeholder="Ingresa tu contraseña" formControlName="Password2">
          <div class="text-help text-danger" *ngIf="forma.get('Password2').errors?.required && forma.controls['Password2'].touched">
            La contraseña es necesaria
          </div>
          <div class="text-help text-danger" *ngIf="forma.get('Password2').errors?.noIguales && forma.controls['Password2'].touched">
            La contraseñas tienen que ser iguales
          </div>
        </div>
      </div>
      <div class="row text-center">
        <button class="btn btn-success" [disabled]="!forma.valid">Confirmo cambio de contraseña</button>
      </div>

    </form>



  </div>


</div>
